@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@300;400;500;700&display=swap);
@font-face {
  font-family: Heydex;
  src: url(../assets/fonts/Heydex.ttf);
}
/*SELECTOR UNIVERSAL llamada Reset : resetea todos los estilos del navegador*/
* {
  margin: 0; /*Saca margenes*/
  padding: 0; /*saca relleno*/
  box-sizing: border-box;
  list-style: none; /*saca los puntitos*/
  text-decoration: none;
  font-weight: 400;
}

.condicionaltemp {
  background-image: url(../assets/img/temporadas/backbar.webp);
  height: 1000px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
  background: url(../assets/img/rojoraya.webp);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
}

/* ALERTA */
.alert {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
.alert button {
  background-color: white;
  border-radius: 50px;
}
.alert strong {
  color: #ffffff;
}

/* FIN DE ALERTA */
/* Barra de Navegación*/
.navbar {
  box-shadow: 0 0 10px #000;
  background: rgba(255, 255, 255, 0.5);
}
.navbar .navbar-brand img {
  position: relative;
  width: 40px;
  height: 40px;
  bottom: 10px;
}
.navbar .navbar-brand span {
  color: #ffffff;
  font-family: Heydex;
  font-size: 40px;
}
.navbar i {
  color: #ffffff;
}
.navbar .navbar-nav {
  background-color: rgb(255, 82, 111);
  border-radius: 50px;
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
}
.navbar .nav-item.active {
  background: rgb(255, 0, 43);
  border-radius: 50px;
}
.navbar .nav-item:hover {
  border-bottom: 1px solid white;
  background-color: rgb(252, 149, 245);
  border-radius: 50px;
}
.navbar .search-and-icons {
  background-color: rgb(255, 82, 111);
  border-radius: 50px;
}
.navbar .search-and-icons .buscar__container {
  display: none;
  border-radius: 50px;
}
.navbar .search-and-icons .buscar__container .form-control {
  border-radius: 50px;
}
.navbar .search-and-icons .buscar__container i {
  padding: 10px;
  border: 2px solid white;
  border-radius: 50px;
}
.navbar .search-and-icons button[type=button] {
  border-radius: 50px;
}
.navbar .search-and-icons button[type=button]:hover {
  border-bottom: 1px solid white;
  background-color: rgb(252, 149, 245);
  border-radius: 50px;
}

/*Fin de barra de navegacion*/
/* COMIENZO DE INDEX */
/*Banner principal con logo*/
.banner__container {
  width: 100%;
  height: auto;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.637);
  margin-top: 140px;
}
.banner__container video {
  position: relative;
  width: 100%;
  height: 100%;
}
.banner__container .bebidasvarias {
  background-color: rgba(0, 0, 0, 0.815);
  max-width: 100%;
  height: auto;
  box-shadow: 0px 0px 30px 50px rgba(0, 0, 0, 0.815);
}
.banner__container .capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 380%;
  background-color: rgba(0, 0, 0, 0.236);
  mix-blend-mode: overlay;
}

/*Fin de Banner principal con logo*/
/*Banner de ofertas con condicional para diferentes temporadas*/
.condicionaltemp {
  max-width: 100%;
  text-align: center;
  margin-top: 50px;
  box-shadow: 0px 0px 30px 50px rgba(0, 0, 0, 0.815);
  background-color: rgba(0, 0, 0, 0.815);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

/*Fin de banner de ofertas para diferentes temporadas*/
.titutienda {
  font-family: Heydex;
}

/*section Bebidas CON alcohol*/
.container_bebalc {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 30px;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(255, 0, 43) 0%, rgb(255, 82, 111) 25%, rgb(0, 0, 0) 50%, rgb(255, 82, 111) 75%, rgb(255, 0, 43) 100%);
}
.container_bebalc .card {
  box-shadow: 0px 0px 10px 5px rgb(255, 255, 255);
}
.container_bebalc img {
  width: 200px;
  height: 440px;
  margin: auto;
  margin-top: 50px;
}
.container_bebalc img:hover {
  transform: scale(1.1);
  transition: transform 1s ease-in-out;
}
.container_bebalc .titu__bebalc {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  background-color: black;
}
.container_bebalc .titu__bebalc a {
  text-decoration: none;
  color: #ffffff;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  box-shadow: 0px 0px 10px 5px rgb(255, 255, 255);
  padding: 2px;
  margin-right: 10px;
}
.container_bebalc .titu__bebalc a:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
}
.container_bebalc .titu__bebalc h2:hover {
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
}
.container_bebalc .titu__bebalc h4:hover {
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
}
.container_bebalc .titu__bebalc i {
  color: rgb(255, 82, 111);
}

/*Fin de section Bebidas Con alcohol*/
/*section Bebidas SIN alcohol*/
.container_bebsinalc {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 30px;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(255, 0, 43) 0%, rgb(255, 82, 111) 25%, rgb(0, 0, 0) 50%, rgb(255, 82, 111) 75%, rgb(255, 0, 43) 100%);
}
.container_bebsinalc .card {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.897);
}
.container_bebsinalc img {
  width: 200px;
  height: 440px;
  margin: auto;
  margin-top: 50px;
}
.container_bebsinalc img:hover {
  transform: scale(1.1);
  transition: transform 1s ease-in-out;
}
.container_bebsinalc .titu__sinalc {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #000000;
  border-radius: 10px;
  background-color: white;
}
.container_bebsinalc .titu__sinalc a {
  text-decoration: none;
  color: #000000;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
  padding: 2px;
  margin-right: 10px;
}
.container_bebsinalc .titu__sinalc a:hover {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}
.container_bebsinalc .titu__sinalc h2:hover {
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
}
.container_bebsinalc .titu__sinalc h4:hover {
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
}
.container_bebsinalc .titu__sinalc i {
  color: rgb(255, 82, 111);
}

/*Fin de section Bebidas SIN alcohol*/
/*Sección Carrousel Data*/
.carousel {
  width: 100%;
  height: 100%;
}
.carousel .carousel-inner {
  width: 100%;
  height: 100%;
  font-size: 60px;
}

/*Fin de Sección Carrousel Data*/
/*Seccion ofertas*/
.ofertas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  text-align: center;
  margin: 100px;
  gap: 10px;
  padding: 20px;
  background-color: rgb(0, 0, 0);
}
.ofertas .formulario {
  width: 100%;
  padding: 10px;
  background-color: rgb(253, 226, 230);
  color: #000000;
}
.ofertas .email__container input[type=email] {
  border: 1px solid #ccc;
  border-radius: 5px;
  border-color: rgb(255, 0, 43);
  outline-style: double;
  width: 300px;
  height: 30px;
  padding: 5px 10px;
}
.ofertas .form_control {
  padding: 10px;
}
.ofertas .form_control input[type=submit] {
  border: 1px solid #ccc;
  border-radius: 5px;
  border-color: rgb(0, 0, 0);
  padding: 5px 10px;
  width: 60px;
  height: 30px;
}
.ofertas .form_control input[type=submit]:hover {
  background-color: rgb(255, 82, 111);
}

/*Fin de Seccion ofertas*/
/*Video marcas*/
.videomarcas {
  background-color: black;
  margin-left: 800px;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 50px 0px 0px 50px;
}
.videomarcas video {
  position: relative;
  width: 85%;
  border-radius: 50px;
}

/*Fin de video marcas*/
/*Pie de página*/
.footer__container {
  text-align: center;
}
.footer__container img {
  width: 15%;
}

/*Fin de Pie de página*/
/* FIN DE INDEX */
/* COMIENZO DE PAGINAS BEBIDAS CON/SIN ALCOHOL */
/* Encabezado */
.header__bebidas {
  position: relative;
  text-align: center;
  padding: 20px;
  margin-bottom: 50px;
}
.header__bebidas .headerbeb_titu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: #000000;
}
.header__bebidas .headerbeb_titu i {
  color: #000000;
}
.header__bebidas img {
  width: 50%;
  height: auto;
  border-radius: 5000px 5000px 5px 5px;
  box-shadow: 0px 40px 30px 40px rgba(39, 39, 39, 0.781);
  margin-bottom: 20px;
}

/* Fin de Encabezado */
/* Seccion de filtros */
.filters__options {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: white;
  list-style: none;
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  margin-top: 100px;
}
.filters__options .filter__option {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.4392156863);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4392156863);
  border-radius: 100px;
}
.filters__options .filter__option:hover {
  background-color: rgb(255, 0, 43);
  color: #ffffff;
}
.filters__options .filter__option i {
  color: #000000;
}
.filters__options .filter__option .option__link {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}
.filters__options .filter__option .option__link:hover {
  color: #ffffff;
  transition: color 0.1s;
}
.filters__options .filter__option .form-check .form-check-input {
  font-size: 20px;
  cursor: pointer;
}

/* Fin de Seccion de filtros */
/* Sección de productos */
.container_bebidas {
  padding: 30px;
}
.container_bebidas img {
  width: 200px;
  height: 440px;
  margin: auto;
  margin-top: 50px;
}
.container_bebidas img:hover {
  transform: scale(1.1);
  transition: transform 1s ease-in-out;
}

/* Fin de Sección de productos */
/* Botón "Ver Más" */
.view-more {
  display: block;
  position: relative;
  background-color: rgb(255, 82, 111);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s;
  margin: auto;
  margin-bottom: 20px;
}
.view-more:hover {
  background-color: rgb(255, 0, 43);
}

/* Fin de Botón "Ver Más" */
/* FIN DE BEBIDAS CON/SIN ALCOHOL */
/* COMIENZO DE PAGINA CONTACTO */
/* Encabezado */
.header__contacto {
  position: relative;
  text-align: center;
  padding: 20px;
  margin-bottom: 50px;
}
.header__contacto .headercontac_titu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: rgba(255, 255, 255, 0.473);
}
.header__contacto .headercontac_titu i {
  color: rgba(255, 255, 255, 0.473);
}
.header__contacto img {
  width: 40%;
  height: auto;
  border-radius: 5000px 5000px 5px 5px;
  box-shadow: 0px 40px 30px 40px rgba(39, 39, 39, 0.781);
  margin-bottom: 20px;
}

/* Fin de Encabezado */
/* Información de contacto */
.contact-info {
  position: relative;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 20px 20px 20px 20px rgb(39, 39, 39);
  flex: 1;
  text-align: center;
  bottom: 200px;
  margin-top: 300px;
  color: #000000;
}
.contact-info:hover {
  background-color: #000000;
  color: #ffffff;
}
.contact-info .contact-info__title {
  font-size: 30px;
  margin-bottom: 20px;
}
.contact-info .contact-info__item {
  font-size: 20px;
  margin-bottom: 10px;
}
.contact-info .contact-info__item i {
  border-radius: 250px;
  font-size: 30px;
  color: rgb(255, 82, 111);
  margin: 10px;
  background-color: #ffffff;
}
.contact-info iframe {
  border-radius: 5px 5000px 5px 5000px;
}

/* Fin de Información de contacto */
/* Formulario de contacto */
.contact-form {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgb(2, 2, 2);
  margin: 100px;
  flex: 1;
  color: #000000;
}
.contact-form:hover {
  background-color: #000000;
  color: #ffffff;
}
.contact-form .contact-form__title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 5px solid rgba(0, 0, 0, 0.253);
}
.contact-form .form-control {
  border-color: #000;
}
.contact-form .form__button {
  display: block;
  position: relative;
  background-color: rgb(252, 149, 245);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s;
  margin: auto;
  margin-bottom: 20px;
}
.contact-form .form__button i {
  margin-right: 5px;
}
.contact-form .form__button:hover {
  background-color: rgb(255, 0, 43);
}

/* Fin de Formulario de contacto */
/* FIN DE PAGINA CONTACTO */
/* COMIENZO DE PAGINA NOSOTROS */
/* Encabezado */
.header__nosotros {
  position: relative;
  text-align: center;
  padding: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 400px;
}
.header__nosotros .headernos_titu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: rgba(255, 255, 255, 0.473);
}
.header__nosotros .headernos_titu i {
  color: rgba(255, 255, 255, 0.473);
}
.header__nosotros img {
  width: 40%;
  height: auto;
  border-radius: 5000px 5000px 5px 5px;
  box-shadow: 0px 40px 30px 40px rgba(39, 39, 39, 0.781);
  margin-bottom: 20px;
}

/* Fin de Encabezado */
/* Contenedor principal */
.main__nosotros {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

/* Sección Nosotros */
.about {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 10px 10px 10px rgb(39, 39, 39);
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.about:hover {
  background-color: black;
  color: #ffffff;
}
.about .about__video {
  flex: 1;
  margin-right: 20px;
}
.about .about__video video {
  width: 100%;
  box-shadow: 0px 10px 30px 10px rgb(39, 39, 39);
  border-radius: 20px;
}
.about .about__video.mob {
  display: none;
  margin-bottom: 30px;
}
.about .about__content {
  flex: 2;
  text-align: center;
}
.about .about__content .about__title {
  font-size: 24px;
  margin-bottom: 20px;
}
.about .about__content .about__text {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
}

/* FIN DE PÁGINA NOSOTROS */
/* MEDIA QUERIES */
@media screen and (max-width: 960px) {
  /* barra de navegacion */
  .navbar {
    letter-spacing: 0.1em;
  }
  .navbar .navbar-nav .nav-link {
    padding: 0.5em 1em;
  }
  .navbar .search-and-icons {
    width: 40%;
  }
  .navbar .search-and-icons form {
    flex: 1;
  }
  /* fin  barra de navegacion */
  /* index */
  .videomarcas {
    display: none;
  }
  .banner__container .capa {
    display: none;
  }
  .ofertas .email__container input[type=email] {
    width: 120px;
    height: 30px;
  }
  .carousel .carousel-inner {
    font-size: 40px;
  }
  .condicionaltemp {
    height: 700px;
  }
  /* fin index */
  /* comienzo paginas bebidas */
  .header__bebidas .headerbeb_titu {
    font-size: 40px;
  }
  .filters__options .form-check-input {
    font-size: 14px;
  }
  .filters__options .option__link,
  .filters__options .form-check-label {
    font-size: 18px;
  }
  /* fin paginas bebidas */
  /* comienzo pagina contacto */
  .header__contacto .headercontac_titu {
    font-size: 40px;
  }
  /* fin pagina contacto */
  /* comienzo pagina nosotros */
  .header__nosotros .headernos_titu {
    font-size: 40px;
  }
  .about .about__video {
    display: none;
  }
  .about .about__video.mob {
    display: block;
  }
  /* fin pagina nosotros */
}
@media screen and (max-width: 768px) {
  /* nav mobile */
  /* barra de navegacion */
  .navbar .navbar-brand img {
    max-width: 7em;
  }
  .navbar .navbar-collapse {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .navbar .navbar-collapse .search-and-icons {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .navbar .navbar-collapse .search-and-icons .buscar__container {
    display: flex;
  }
  .navbar .navbar-collapse .search-and-icons #buscar__pantxl {
    display: none;
  }
  /* fin  barra de navegacion */
  /* index */
  .condicionaltemp {
    height: 500px;
  }
  .carousel .carousel-inner {
    font-size: 40px;
  }
  /* fin index */
  /* comienzo paginas bebidas */
  .header__bebidas .headerbeb_titu {
    font-size: 32px;
  }
  .filters__options .option__link,
  .filters__options .form-check-label {
    font-size: 14px;
  }
  .filters__options .form-check-input {
    font-size: 12px;
  }
  /* fin paginas bebidas */
  /* comienzo pagina contacto */
  .header__contacto .headercontac_titu {
    font-size: 30px;
  }
  /* fin pagina contacto */
  /* comienzo pagina nosotros */
  .header__nosotros .headernos_titu {
    font-size: 30px;
  }
  .about .about__video {
    display: none;
  }
  .about .about__video.mob {
    display: block;
  }
  /* fin pagina nosotros */
}
@media screen and (max-width: 576px) {
  /* index */
  .carousel .carousel-inner {
    font-size: 30px;
  }
  /* fin index */
  /* comienzo paginas bebidas */
  .header__bebidas .headerbeb_titu {
    font-size: 25px;
  }
  .filters__options .option__link,
  .filters__options .form-check-label {
    font-size: 14px;
  }
  .filters__options .form-check-input {
    font-size: 10px;
  }
  /* fin paginas bebidas */
  /* comienzo pagina contacto */
  .header__contacto .headercontac_titu {
    font-size: 20px;
  }
  /* fin pagina contacto */
  /* comienzo pagina nosotros */
  .header__nosotros .headernos_titu {
    font-size: 20px;
  }
  .about .about__video {
    display: none;
  }
  .about .about__video.mob {
    display: block;
  }
  /* fin pagina nosotros */
}
@media screen and (max-width: 420px) {
  /* index */
  .carousel .carousel-inner {
    font-size: 20px;
  }
  .condicionaltemp {
    height: 300px;
  }
  /* fin index */
  /* comienzo paginas bebidas */
  .header__bebidas .headerbeb_titu {
    font-size: 10px;
  }
  .filters__options {
    flex-direction: column;
  }
  .filters__options .option__link,
  .filters__options .form-check-label {
    font-size: 14px;
  }
  .filters__options .form-check-input {
    font-size: 10px;
  }
  /* fin paginas bebidas */
  /* comienzo pagina contacto */
  .header__contacto .headercontac_titu {
    font-size: 10px;
  }
  /* fin pagina contacto */
  /* comienzo pagina nosotros */
  .header__nosotros .headernos_titu {
    font-size: 10px;
  }
  .about .about__video {
    display: none;
  }
  .about .about__video.mob {
    display: block;
  }
  /* fin pagina nosotros */
}

/*# sourceMappingURL=style.css.map */
