@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@300;400;500;700&display=swap);
@font-face {
  font-family: Heydex;
  src: url(../assets/fonts/Heydex.ttf);
}
/*SELECTOR UNIVERSAL llamada Reset : resetea todos los estilos del navegador*/
* {
  margin: 0; /*Saca margenes*/
  padding: 0; /*saca relleno*/
  box-sizing: border-box;
  list-style: none; /*saca los puntitos*/
  text-decoration: none;
  font-weight: 400;
}

.condicionaltemp {
  background-image: url(../assets/img/temporadas/backbar.webp);
  height: 1000px;
}

/* html {
  scroll-behavior: smooth;
} */
body {
  font-family: Poppins, sans-serif;
  background: url(../assets/img/rojoraya.webp);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
}

/* Barra de Navegación*/
.navbar {
  box-shadow: 0 0 10px #000;
  background: rgba(255, 255, 255, 0.5);
}
.navbar .navbar-brand img {
  position: relative;
  width: 40px;
  height: 40px;
  bottom: 10px;
}
.navbar .navbar-brand span {
  color: #ffffff;
  font-family: Heydex;
  font-size: 40px;
}
.navbar i {
  color: #ffffff;
}
.navbar .navbar-nav {
  background-color: rgb(255, 82, 111);
  border-radius: 50px;
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
}
.navbar .nav-item.active {
  background: rgb(255, 0, 43);
  border-radius: 50px;
}
.navbar .nav-item:hover {
  border-bottom: 1px solid white;
  background-color: rgb(252, 149, 245);
  border-radius: 50px;
}
.navbar .search-and-icons {
  background-color: rgb(255, 82, 111);
  border-radius: 50px;
}
.navbar .search-and-icons .buscar__container {
  display: none;
  border-radius: 50px;
}
.navbar .search-and-icons .buscar__container .form-control {
  border-radius: 50px;
}
.navbar .search-and-icons .buscar__container i {
  padding: 10px;
  border: 2px solid #ffffff;
  border-radius: 50px;
}
.navbar .search-and-icons button[type=button] {
  border-radius: 50px;
}
.navbar .search-and-icons button[type=button]:hover {
  border-bottom: 1px solid #ffffff;
  background-color: rgb(252, 149, 245);
  border-radius: 50px;
}

/*Fin de barra de navegacion*/
/* COMIENZO DE INDEX */
/*Banner principal con logo*/
.banner__container {
  width: 100%;
  height: auto;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.637);
  margin-top: 140px;
  /* ALERTA */
  /* FIN DE ALERTA */
}
.banner__container .alert {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  align-items: center;
  background-color: rgb(255, 0, 43);
  border: 8px solid rgba(0, 0, 0, 0.514);
}
.banner__container .alert button {
  background-color: #ffffff;
  border-radius: 50px;
}
.banner__container .alert strong {
  color: #ffffff;
}
.banner__container video {
  position: relative;
  width: 100%;
  height: 100%;
  filter: contrast(110%);
}
.banner__container .bebidasvarias {
  background-color: rgba(0, 0, 0, 0.815);
  max-width: 100%;
  height: auto;
  box-shadow: 0px 0px 30px 50px rgba(0, 0, 0, 0.815);
}
.banner__container .capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 380%;
  background-color: rgba(0, 0, 0, 0.236);
  mix-blend-mode: overlay;
}

/*Fin de Banner principal con logo*/
/*Banner de ofertas con condicional para diferentes temporadas*/
.condicionaltemp {
  max-width: 100%;
  text-align: center;
  margin-top: 50px;
  box-shadow: 0px 0px 30px 50px rgba(0, 0, 0, 0.815);
  background-color: rgba(0, 0, 0, 0.815);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

/*Fin de banner de ofertas para diferentes temporadas*/
.titutienda {
  font-family: Heydex;
}

/*section Bebidas CON alcohol*/
.container_bebalc {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 30px;
  background: #000000;
  background: linear-gradient(0deg, rgb(255, 0, 43) 0%, rgb(255, 82, 111) 25%, #000000 50%, rgb(255, 82, 111) 75%, rgb(255, 0, 43) 100%);
}
.container_bebalc .card {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.897);
}
.container_bebalc .card:hover {
  transform: scale(0.995);
  transition: transform 0.3s ease-in-out;
}
.container_bebalc .card .card-body .btn {
  background-color: rgb(255, 82, 111);
}
.container_bebalc .card .card-body .btn:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
.container_bebalc .card .card-body .btn-group .btn {
  background-color: rgb(252, 149, 245);
}
.container_bebalc img {
  width: 200px;
  height: 440px;
  margin: auto;
  margin-top: 50px;
}
.container_bebalc img:hover {
  transform: scale(1.1);
  transition: transform 1s ease-in-out;
}
.container_bebalc .titu__bebalc {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  background-color: #000000;
}
.container_bebalc .titu__bebalc a {
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  box-shadow: 0px 0px 10px 5px #ffffff;
  padding: 2px;
  margin-right: 10px;
}
.container_bebalc .titu__bebalc a:hover {
  background-color: #ffffff;
  color: #000000;
}
.container_bebalc .titu__bebalc h2:hover {
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
}
.container_bebalc .titu__bebalc h4:hover {
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
}
.container_bebalc .titu__bebalc i {
  color: rgb(255, 82, 111);
}

/*Fin de section Bebidas Con alcohol*/
/*section Bebidas SIN alcohol*/
.container_bebsinalc {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 30px;
  background: #000000;
  background: linear-gradient(0deg, rgb(255, 0, 43) 0%, rgb(255, 82, 111) 25%, #000000 50%, rgb(255, 82, 111) 75%, rgb(255, 0, 43) 100%);
}
.container_bebsinalc .card {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.897);
}
.container_bebsinalc .card:hover {
  transform: scale(0.995);
  transition: transform 0.3s ease-in-out;
}
.container_bebsinalc .card .card-body .btn {
  background-color: rgb(255, 82, 111);
}
.container_bebsinalc .card .card-body .btn:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
.container_bebsinalc .card .card-body .btn-group .btn {
  background-color: rgb(252, 149, 245);
}
.container_bebsinalc img {
  width: 200px;
  height: 440px;
  margin: auto;
  margin-top: 50px;
}
.container_bebsinalc img:hover {
  transform: scale(1.1);
  transition: transform 1s ease-in-out;
}
.container_bebsinalc .titu__sinalc {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #000000;
  border-radius: 10px;
  background-color: #ffffff;
}
.container_bebsinalc .titu__sinalc a {
  text-decoration: none;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  box-shadow: 0px 0px 10px 5px #000000;
  padding: 2px;
  margin-right: 10px;
}
.container_bebsinalc .titu__sinalc a:hover {
  background-color: #000000;
  color: #ffffff;
}
.container_bebsinalc .titu__sinalc h2:hover {
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
}
.container_bebsinalc .titu__sinalc h4:hover {
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
}
.container_bebsinalc .titu__sinalc i {
  color: rgb(255, 82, 111);
}

/*Fin de section Bebidas SIN alcohol*/
/*Sección Carrousel Data*/
.carousel {
  width: 100%;
  height: 100%;
}
.carousel .carousel-inner {
  width: 100%;
  height: 100%;
  font-size: 60px;
}

/*Fin de Sección Carrousel Data*/
/*Sección ofertas*/
.ofertas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  text-align: center;
  margin: 100px;
  gap: 10px;
  padding: 20px;
  background-color: #000000;
}
.ofertas .formulario {
  width: 100%;
  padding: 10px;
  background-color: rgb(253, 226, 230);
  color: #000000;
}
.ofertas .email__container input[type=email] {
  border: 1px solid #ccc;
  border-radius: 5px;
  border-color: rgb(255, 0, 43);
  outline-style: double;
  width: 300px;
  height: 30px;
  padding: 5px 10px;
}
.ofertas .form_control {
  padding: 10px;
}
.ofertas .form_control input[type=submit] {
  border: 1px solid #000000;
  border-radius: 25px;
  width: 60px;
  height: 30px;
  background-color: rgb(255, 82, 111);
  color: #ffffff;
}
.ofertas .form_control input[type=submit]:hover {
  background-color: rgb(255, 0, 43);
}

/*Fin de Sección ofertas*/
/*Video marcas*/
.videomarcas {
  background-color: black;
  margin-left: 800px;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 50px 0px 0px 50px;
}
.videomarcas video {
  position: relative;
  width: 85%;
  border-radius: 50px;
}

/*Fin de video marcas*/
/* FIN DE INDEX */
/*Pie de página para Index, Bebidas con/sin alcohol, Nosotros, Contacto*/
.footer__container {
  text-align: center;
}
.footer__container img {
  width: 15%;
}
.footer__container a {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}
.footer__container a:hover {
  text-decoration: underline;
}

/*Fin de Pie de página para Index, Bebidas con/sin alcohol, Nosotros, Contacto*/
/* COMIENZO DE PÁGINAS BEBIDAS CON/SIN ALCOHOL */
/* Encabezado */
.header__bebidas {
  position: relative;
  text-align: center;
  padding: 20px;
  margin-bottom: 50px;
  margin-top: 140px;
  /* ALERTA */
  /* FIN DE ALERTA */
}
.header__bebidas .headerbeb_titu {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: rgba(0, 0, 0, 0.637);
}
.header__bebidas .headerbeb_titu i {
  color: rgba(0, 0, 0, 0.637);
}
.header__bebidas .alert {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  align-items: center;
  background-color: rgb(255, 0, 43);
  border: 8px solid rgba(0, 0, 0, 0.514);
}
.header__bebidas .alert button {
  background-color: #ffffff;
  border-radius: 50px;
}
.header__bebidas .alert strong {
  color: #ffffff;
}
.header__bebidas img {
  width: 50%;
  height: auto;
  border-radius: 5000px 5000px 5px 5px;
  box-shadow: 0px 40px 30px 40px rgba(39, 39, 39, 0.781);
  margin-bottom: 20px;
}

/* Fin de Encabezado */
/* Sección de filtros */
.filters__options {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  list-style: none;
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  margin-top: 100px;
}
.filters__options .filter__option {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.4392156863);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4392156863);
  border-radius: 100px;
}
.filters__options .filter__option:hover {
  background-color: rgb(255, 0, 43);
  color: #ffffff;
}
.filters__options .filter__option i {
  color: #000000;
}
.filters__options .filter__option .option__link {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}
.filters__options .filter__option .option__link:hover {
  color: #ffffff;
  transition: color 0.1s;
}
.filters__options .filter__option .form-check .form-check-input {
  font-size: 20px;
  cursor: pointer;
}

/* Fin de Sección de filtros */
/* Sección de productos */
.container_bebidas {
  padding: 30px;
}
.container_bebidas .card:hover {
  transform: scale(0.98);
  transition: transform 0.3s ease-in-out;
}
.container_bebidas .card .card-body .btn {
  background-color: rgb(255, 82, 111);
}
.container_bebidas .card .card-body .btn:hover {
  color: #ffffff;
}
.container_bebidas .card .card-body .btn:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.container_bebidas .card .card-body .btn-group .btn {
  background-color: rgb(252, 149, 245);
}
.container_bebidas img {
  width: 200px;
  height: 440px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.container_bebidas img:hover {
  transform: scale(1.1);
  transition: transform 1s ease-in-out;
}

/* Fin de Sección de productos */
/* Botón "Ver Más" */
.view-more {
  display: block;
  position: relative;
  background-color: rgb(255, 82, 111);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s;
  margin: auto;
  margin-bottom: 20px;
}
.view-more:hover {
  background-color: rgb(255, 0, 43);
}

/* Fin de Botón "Ver Más" */
/* FIN DE PÁGINAS DE BEBIDAS CON/SIN ALCOHOL */
/* COMIENZO DE PÁGINA CONTACTO */
/* Encabezado */
.header__contacto {
  position: relative;
  text-align: center;
  padding: 20px;
  margin-bottom: 50px;
  margin-top: 140px;
}
.header__contacto .headercontac_titu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: rgba(255, 255, 255, 0.473);
}
.header__contacto .headercontac_titu i {
  color: rgba(255, 255, 255, 0.473);
}
.header__contacto img {
  width: 40%;
  height: auto;
  border-radius: 5000px 5000px 5px 5px;
  box-shadow: 0px 40px 30px 40px rgba(39, 39, 39, 0.781);
  margin-bottom: 20px;
  filter: contrast(120%);
}

/* Fin de Encabezado */
/* Información de contacto */
.contact-info {
  position: relative;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 20px 20px 20px 20px rgb(39, 39, 39);
  flex: 1;
  text-align: center;
  bottom: 200px;
  margin-top: 300px;
  color: #000000;
}
.contact-info:hover {
  background-color: #000000;
  color: #ffffff;
}
.contact-info .contact-info__title {
  font-size: 30px;
  margin-bottom: 20px;
}
.contact-info .contact-info__item {
  font-size: 20px;
  margin-bottom: 10px;
}
.contact-info .contact-info__item i {
  border-radius: 250px;
  font-size: 30px;
  color: rgb(255, 82, 111);
  margin: 10px;
  background-color: #ffffff;
}
.contact-info iframe {
  border-radius: 5px 5000px 5px 5000px;
}

/* Fin de Información de contacto */
/* Formulario de contacto */
.contact-form {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgb(2, 2, 2);
  margin: 100px;
  flex: 1;
  color: #000000;
}
.contact-form:hover {
  background-color: #000000;
  color: #ffffff;
}
.contact-form .contact-form__title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 5px solid rgba(0, 0, 0, 0.253);
}
.contact-form .form-control {
  border-color: #000000;
}
.contact-form .form__button {
  display: block;
  position: relative;
  background-color: rgb(252, 149, 245);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s;
  margin: auto;
  margin-bottom: 20px;
}
.contact-form .form__button i {
  margin-right: 5px;
}
.contact-form .form__button:hover {
  background-color: rgb(255, 0, 43);
}

/* Fin de Formulario de contacto */
/* FIN DE PÁGINA CONTACTO */
/* COMIENZO DE PÁGINA NOSOTROS */
/* Encabezado */
.header__nosotros {
  position: relative;
  text-align: center;
  padding: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 400px;
  margin-top: 140px;
}
.header__nosotros .headernos_titu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: rgba(255, 255, 255, 0.473);
}
.header__nosotros .headernos_titu i {
  color: rgba(255, 255, 255, 0.473);
}
.header__nosotros img {
  width: 40%;
  height: auto;
  border-radius: 5000px 5000px 5px 5px;
  box-shadow: 0px 40px 30px 40px rgba(39, 39, 39, 0.781);
  margin-bottom: 20px;
}

/* Fin de Encabezado */
/* Contenedor principal */
.main__nosotros {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

/* Sección Nosotros */
.about {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 10px 10px 10px rgb(39, 39, 39);
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.about:hover {
  background-color: #000000;
  color: #ffffff;
}
.about .about__video {
  flex: 1;
  margin-right: 20px;
}
.about .about__video video {
  width: 100%;
  box-shadow: 0px 10px 30px 10px rgb(39, 39, 39);
  border-radius: 20px;
}
.about .about__video.mob {
  display: none;
  margin-bottom: 30px;
}
.about .about__content {
  flex: 2;
  text-align: center;
}
.about .about__content .about__title {
  font-size: 24px;
  margin-bottom: 20px;
}
.about .about__content .about__text {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
}

/* FIN DE PÁGINA NOSOTROS */
/********* PÁGINA ERROR 404 *********/
.body-404 {
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/img/error404.webp");
}

.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 100px);
}
.error-message .error-message__container {
  text-align: center;
  color: #ffffff;
}
.error-message .error-message__container h1 {
  font-size: 60px;
  margin: 0px;
}
.error-message .error-message__container p {
  font-size: 18px;
}
.error-message .error-message__container .animated {
  animation: bounce 1.5s infinite both;
}
.error-message a {
  background-color: rgb(255, 82, 111);
}
.error-message a:hover {
  background-color: rgb(255, 0, 43);
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
/********* FIN DE PÁGINA ERROR 404 *********/
/********* FOOTER INICIO SESIÓN, ERROR 404 Y REGISTRO USER *********/
.footer-2 {
  display: flex;
  align-items: center;
  min-height: 100px;
  width: 100%;
}
.footer-2 a {
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}
.footer-2 a:hover {
  text-decoration: underline;
}

/********* FIN DE FOOTER INICIO SESIÓN, ERROR 404 Y REGISTRO USER *********/
/********* PÁGINAS INICIO SESIÓN / REGISTRO DE USUARIO *********/
.body-log {
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.5)), url("../assets/img/user.webp");
}

.log {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
}
.log .form-log {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 121, 143, 0.842);
  box-shadow: 7px 13px 37px rgba(255, 121, 143, 0.842);
  padding: 20px 30px;
  border-top: 4px solid #ffffff;
  color: #ffffff;
  border-radius: 50px;
}
.log .form-log h5 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
}
.log .form-log .controls {
  width: 100%;
  border: 1px solid #000000;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: #ffffff;
  font-size: 14px;
  font-weight: bold;
}
.log .form-log .buttons {
  width: 100%;
  height: 40px;
  background: rgb(255, 0, 43);
  border: none;
  color: #ffffff;
  margin-bottom: 16px;
}
.log .form-log .buttons:hover {
  background: rgb(252, 149, 245);
  color: #000000;
}
.log .form-log p {
  height: 40px;
  text-align: center;
  border-bottom: 1px solid;
}
.log .form-log p a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}
.log .form-log p a:hover {
  text-decoration: underline;
}

/********* FIN DE PÁGINAS INICIO SESIÓN / REGISTRO DE USUARIO *********/
/* MEDIA QUERIES */
@media screen and (max-width: 960px) {
  /* barra de navegación */
  .navbar {
    letter-spacing: 0.1em;
  }
  .navbar .navbar-nav .nav-link {
    padding: 0.5em 1em;
  }
  .navbar .search-and-icons {
    width: 40%;
  }
  .navbar .search-and-icons form {
    flex: 1;
  }
  /* fin  barra de navegación */
  /* index */
  .videomarcas {
    display: none;
  }
  .banner__container .capa {
    display: none;
  }
  .ofertas .email__container input[type=email] {
    width: 120px;
    height: 30px;
    font-size: 13px;
  }
  .carousel .carousel-inner {
    font-size: 40px;
  }
  .condicionaltemp {
    height: 700px;
  }
  /* fin index */
  /* comienzo páginas bebidas */
  .header__bebidas .headerbeb_titu {
    font-size: 40px;
  }
  .filters__options .form-check-input {
    font-size: 14px;
  }
  .filters__options .option__link,
  .filters__options .form-check-label {
    font-size: 18px;
  }
  /* fin páginas bebidas */
  /* comienzo página contacto */
  .header__contacto .headercontac_titu {
    font-size: 40px;
  }
  /* fin página contacto */
  /* comienzo página nosotros */
  .header__nosotros .headernos_titu {
    font-size: 40px;
  }
  .about .about__video {
    display: none;
  }
  .about .about__video.mob {
    display: block;
  }
  /* fin página nosotros */
}
@media screen and (max-width: 768px) {
  /* nav mobile */
  /* barra de navegación */
  .navbar .navbar-brand img {
    max-width: 7em;
  }
  .navbar .navbar-collapse {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .navbar .navbar-collapse .search-and-icons {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .navbar .navbar-collapse .search-and-icons .buscar__container {
    display: flex;
  }
  .navbar .navbar-collapse .search-and-icons #buscar__pantxl {
    display: none;
  }
  /* fin  barra de navegación */
  /* index */
  .condicionaltemp {
    height: 500px;
  }
  .carousel .carousel-inner {
    font-size: 40px;
  }
  .ofertas .email__container input[type=email] {
    font-size: 13px;
  }
  /* fin index */
  /* comienzo páginas bebidas */
  .header__bebidas .headerbeb_titu {
    font-size: 32px;
  }
  .filters__options .option__link,
  .filters__options .form-check-label {
    font-size: 14px;
  }
  .filters__options .form-check-input {
    font-size: 12px;
  }
  /* fin páginas bebidas */
  /* comienzo página contacto */
  .header__contacto .headercontac_titu {
    font-size: 30px;
  }
  /* fin página contacto */
  /* comienzo página nosotros */
  .header__nosotros .headernos_titu {
    font-size: 30px;
  }
  .about .about__video {
    display: none;
  }
  .about .about__video.mob {
    display: block;
  }
  /* fin página nosotros */
}
@media screen and (max-width: 576px) {
  /* index */
  .carousel .carousel-inner {
    font-size: 30px;
  }
  /* fin index */
  /* comienzo páginas bebidas */
  .header__bebidas .headerbeb_titu {
    font-size: 25px;
  }
  .filters__options .option__link,
  .filters__options .form-check-label {
    font-size: 14px;
  }
  .filters__options .form-check-input {
    font-size: 10px;
  }
  /* fin páginas bebidas */
  /* comienzo página contacto */
  .header__contacto .headercontac_titu {
    font-size: 20px;
  }
  /* fin página contacto */
  /* comienzo página nosotros */
  .header__nosotros .headernos_titu {
    font-size: 20px;
  }
  .about .about__video {
    display: none;
  }
  .about .about__video.mob {
    display: block;
  }
  /* fin página nosotros */
  /********* FOOTER INICIO SESIÓN, ERROR 404 Y REGISTRO USER *********/
  .footer-2 {
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-2 a {
    font-size: 12px;
  }
  /********* FIN DE FOOTER INICIO SESIÓN, ERROR 404 Y REGISTRO USER *********/
}
@media screen and (max-width: 420px) {
  /* index */
  .carousel .carousel-inner {
    font-size: 20px;
  }
  .condicionaltemp {
    height: 300px;
  }
  .ofertas .email__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ofertas .email__container input[type=email] {
    width: 100px;
    height: 30px;
    font-size: 10px;
  }
  /* fin index */
  /* comienzo páginas bebidas */
  .header__bebidas .headerbeb_titu {
    font-size: 18px;
    top: 78%;
  }
  .header__bebidas .headerbeb_titu h1 {
    font-size: 18px;
  }
  .filters__options {
    flex-direction: column;
  }
  .filters__options .option__link,
  .filters__options .form-check-label {
    font-size: 14px;
  }
  .filters__options .form-check-input {
    font-size: 10px;
  }
  /* fin páginas bebidas */
  /* comienzo página contacto */
  .header__contacto .headercontac_titu {
    font-size: 10px;
  }
  /* fin página contacto */
  /* comienzo página nosotros */
  .header__nosotros .headernos_titu {
    font-size: 10px;
  }
  .about .about__video {
    display: none;
  }
  .about .about__video.mob {
    display: block;
  }
  /* fin página nosotros */
  /********* FORMULARIO INICIO SESIÓN Y REGISTRO USER *********/
  .log .form-log {
    width: 200px;
    height: 350px;
  }
  .log .form-log h5 {
    font-size: 15px;
  }
  .log .form-log .controls {
    width: 102%;
    height: 10px;
    font-size: 12px;
  }
  .log .form-log .buttons {
    width: 70%;
    height: 30px;
  }
  .log .form-log p {
    font-size: 11px;
  }
  .log .form-log p a {
    font-size: 11px;
  }
  /********* FIN DE FORMULARIO INICIO SESIÓN Y REGISTRO USER *********/
}

/*# sourceMappingURL=style.css.map */
