@if ($temporada== "backbar") {
  .condicionaltemp {
    background-image: url(../assets/img/temporadas/backbar.webp);
    height: 1000px;
  }
} @else if($temporada== "verano") {
  .condicionaltemp {
    background-image: url(../assets/img/temporadas/verano.webp);
    height: 1000px;
  }
} @else if($temporada== "invierno") {
  .condicionaltemp {
    background-image: url(../assets/img/temporadas/invierno.webp);
    height: 500px;
  }
} @else if($temporada== "primavera") {
  .condicionaltemp {
    background-image: url(../assets/img/temporadas/primavera.webp);
    height: 500px;
  }
} @else if($temporada== "otoño") {
  .condicionaltemp {
    background-image: url(../assets/img/temporadas/otoño.webp);
    height: 1000px;
  }
} @else if($temporada== "cybermonday") {
  .condicionaltemp {
    background-image: url(../assets/img/temporadas/cybermonday.webp);
    height: 500px;
  }
} @else if($temporada== "navidad") {
  .condicionaltemp {
    background-image: url(../assets/img/temporadas/navidad.webp);
    height: 1000px;
  }
}
