@if ($temporada== "backbar") {
  .condicionaltemp {
    background-image: url(/img/temporadas/backbar.jpg);
    height: 1000px;
  }
} @else if($temporada== "verano") {
  .condicionaltemp {
    background-image: url(/img/temporadas/verano.png);
    height: 1000px;
  }
} @else if($temporada== "invierno") {
  .condicionaltemp {
    background-image: url(/img/temporadas/invierno.jpg);
    height: 500px;
  }
} @else if($temporada== "primavera") {
  .condicionaltemp {
    background-image: url(/img/temporadas/primavera.webp);
    height: 500px;
  }
} @else if($temporada== "otoño") {
  .condicionaltemp {
    background-image: url(/img/temporadas/otoño.jpg);
    height: 1000px;
  }
} @else if($temporada== "cybermonday") {
  .condicionaltemp {
    background-image: url(/img/temporadas/cybermonday.jpg);
    height: 500px;
  }
} @else if($temporada== "navidad") {
  .condicionaltemp {
    background-image: url(/img/temporadas/navidad.jpg);
    height: 1000px;
  }
}
