/* MEDIA QUERIES */

@media screen and (max-width: 960px) {
  /* barra de navegación */
  .navbar {
    letter-spacing: 0.1em;
    .navbar-nav {
      .nav-link {
        padding: 0.5em 1em;
      }
    }

    .search-and-icons {
      width: $ancho * 0.4;

      form {
        flex: 1;
      }
    }
  }

  /* fin  barra de navegación */
  /* index */
  .videomarcas {
    display: none;
  }

  .banner__container {
    .capa {
      display: none;
    }
  }

  .ofertas {
    .email__container {
      input[type="email"] {
        @include sizes(120px, 30px);
        font-size: $font * 1.3;
      }
    }
  }
  .carousel {
    .carousel-inner {
      font-size: $font * 4;
    }
  }

  @if ($temporada== "backbar") {
    .condicionaltemp {
      height: 700px;
    }
  } @else if($temporada== "verano") {
    .condicionaltemp {
      height: 700px;
    }
  } @else if($temporada== "invierno") {
    .condicionaltemp {
      height: 500px;
    }
  } @else if($temporada== "primavera") {
    .condicionaltemp {
      height: 500px;
    }
  } @else if($temporada== "otoño") {
    .condicionaltemp {
      height: 700px;
    }
  } @else if($temporada== "cybermonday") {
    .condicionaltemp {
      height: 500px;
    }
  } @else if($temporada== "navidad") {
    .condicionaltemp {
      height: 700px;
    }
  }

  /* fin index */
  /* comienzo páginas bebidas */
  .header__bebidas {
    .headerbeb_titu {
      font-size: $font * 4;
    }
  }

  .filters__options {
    .form-check-input {
      font-size: $font * 1.4;
    }
    .option__link,
    .form-check-label {
      font-size: $font * 1.8;
    }
  }

  /* fin páginas bebidas */
  /* comienzo página contacto */
  .header__contacto {
    .headercontac_titu {
      font-size: $font * 4;
    }
  }

  /* fin página contacto */
  /* comienzo página nosotros */
  .header__nosotros {
    .headernos_titu {
      font-size: $font * 4;
    }
  }
  .about {
    .about__video {
      display: none;
      &.mob {
        display: block;
      }
    }
  }

  /* fin página nosotros */
}

@media screen and (max-width: 768px) {
  /* nav mobile */
  /* barra de navegación */
  .navbar {
    .navbar-brand {
      img {
        max-width: 7em;
      }
    }
    .navbar-collapse {
      display: $dFlex;
      flex-direction: column-reverse;
      align-items: flex-end;

      .search-and-icons {
        width: $ancho;
        display: $dFlex;
        align-items: center;

        .buscar__container {
          display: $dFlex;
        }

        #buscar__pantxl {
          display: none;
        }
      }
    }
  }
  /* fin  barra de navegación */
  /* index */
  @if ($temporada== "backbar") {
    .condicionaltemp {
      height: 500px;
    }
  } @else if($temporada== "verano") {
    .condicionaltemp {
      height: 500px;
    }
  } @else if($temporada== "invierno") {
    .condicionaltemp {
      height: 300px;
    }
  } @else if($temporada== "primavera") {
    .condicionaltemp {
      height: 300px;
    }
  } @else if($temporada== "otoño") {
    .condicionaltemp {
      height: 400px;
    }
  } @else if($temporada== "cybermonday") {
    .condicionaltemp {
      height: 300px;
    }
  } @else if($temporada== "navidad") {
    .condicionaltemp {
      height: 500px;
    }
  }

  .carousel {
    .carousel-inner {
      font-size: $font * 4;
    }
  }
  .ofertas {
    .email__container {
      input[type="email"] {
        font-size: $font * 1.3;
      }
    }
  }
  /* fin index */
  /* comienzo páginas bebidas */
  .header__bebidas {
    .headerbeb_titu {
      font-size: $font * 3.2;
    }
  }

  .filters__options {
    .option__link,
    .form-check-label {
      font-size: $font * 1.4;
    }
    .form-check-input {
      font-size: $font * 1.2;
    }
  }
  /* fin páginas bebidas */
  /* comienzo página contacto */
  .header__contacto {
    .headercontac_titu {
      font-size: $font * 3;
    }
  }
  /* fin página contacto */
  /* comienzo página nosotros */
  .header__nosotros {
    .headernos_titu {
      font-size: $font * 3;
    }
  }
  .about {
    .about__video {
      display: none;
      &.mob {
        display: block;
      }
    }
  }

  /* fin página nosotros */
}

@media screen and (max-width: 576px) {
  /* index */
  .carousel {
    .carousel-inner {
      font-size: $font * 3;
    }
  }
  /* fin index */
  /* comienzo páginas bebidas */
  .header__bebidas {
    .headerbeb_titu {
      font-size: $font * 2.5;
    }
  }

  .filters__options {
    .option__link,
    .form-check-label {
      font-size: $font * 1.4;
    }

    .form-check-input {
      font-size: $font;
    }
  }
  /* fin páginas bebidas */
  /* comienzo página contacto */
  .header__contacto {
    .headercontac_titu {
      font-size: $font * 2;
    }
  }
  /* fin página contacto */
  /* comienzo página nosotros */
  .header__nosotros {
    .headernos_titu {
      font-size: $font * 2;
    }
  }
  .about {
    .about__video {
      display: none;
      &.mob {
        display: block;
      }
    }
  }

  /* fin página nosotros */

  /********* FOOTER INICIO SESIÓN, ERROR 404 Y REGISTRO USER *********/
  .footer-2 {
    align-items: flex-start;
    flex-direction: column;

    a {
      font-size: $font * 1.2;
    }
  }
  /********* FIN DE FOOTER INICIO SESIÓN, ERROR 404 Y REGISTRO USER *********/
}

@media screen and (max-width: 420px) {
  /* index */
  .carousel {
    .carousel-inner {
      font-size: $font * 2;
    }
  }

  @if ($temporada== "backbar") {
    .condicionaltemp {
      height: 300px;
    }
  } @else if($temporada== "verano") {
    .condicionaltemp {
      height: 300px;
    }
  } @else if($temporada== "invierno") {
    .condicionaltemp {
      height: 200px;
    }
  } @else if($temporada== "primavera") {
    .condicionaltemp {
      height: 200px;
    }
  } @else if($temporada== "otoño") {
    .condicionaltemp {
      height: 300px;
    }
  } @else if($temporada== "cybermonday") {
    .condicionaltemp {
      height: 200px;
    }
  } @else if($temporada== "navidad") {
    .condicionaltemp {
      height: 300px;
    }
  }

  .ofertas {
    .email__container {
      display: $dFlex;
      flex-direction: column;
      align-items: center;
      input[type="email"] {
        @include sizes(100px, 30px);
        font-size: $font;
      }
    }
  }
  /* fin index */
  /* comienzo páginas bebidas */
  .header__bebidas {
    .headerbeb_titu {
      font-size: $font * 1.8;
      top: 78%;
      h1 {
        font-size: $font * 1.8;
      }
    }
  }

  .filters__options {
    flex-direction: column;
    .option__link,
    .form-check-label {
      font-size: $font * 1.4;
    }
    .form-check-input {
      font-size: $font;
    }
  }
  /* fin páginas bebidas */

  /* comienzo página contacto */
  .header__contacto {
    .headercontac_titu {
      font-size: $font;
    }
  }
  /* fin página contacto */
  /* comienzo página nosotros */
  .header__nosotros {
    .headernos_titu {
      font-size: $font;
    }
  }

  .about {
    .about__video {
      display: none;
      &.mob {
        display: block;
      }
    }
  }

  /* fin página nosotros */
  /********* FORMULARIO INICIO SESIÓN Y REGISTRO USER *********/
  .log {
    .form-log {
      @include sizes(200px, 350px);
      h5 {
        font-size: $font * 1.5;
      }

      .controls {
        @include sizes($ancho * 1.02, 10px);
        font-size: $font * 1.2;
      }

      .buttons {
        @include sizes($ancho * 0.7, 30px);
      }
      p {
        font-size: $font * 1.1;
        a {
          font-size: $font * 1.1;
        }
      }
    }
  }
  /********* FIN DE FORMULARIO INICIO SESIÓN Y REGISTRO USER *********/
}
