$color-principal: #ffffff;
$color-secundario: #000000;
$bg-principal: rgb(255, 82, 111);
$bg-secundario: rgb(255, 0, 43);
$bg-terciario: rgb(252, 149, 245);
$ancho: 100%;
$alto: 100%;
$font: 10px;
$radius: 50px;
$dFlex: flex;
$dir-Flex: row;
$temporada: "backbar";
